include README.md
include LICENSE.txt
include mkgit.1
include mkgit.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .git*
global-exclude .git*
global-exclude __pycache__
global-exclude *.py[co]